body {font-family: "Lato", sans-serif}

html{
	scroll-behavior: smooth;
}
input{
	border-style: none;
	border-bottom-style: ridge;
	margin-left: 4px;
	text-align: center;
}
footer{
	background-color: #009688;
	color: white;
	width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.controlSection{
	padding: 8px;
	margin-top: 0px;
	margin-bottom: 10px;
}
#exercises{
	padding-bottom: 32px;
	padding-top: 32px;
	margin-bottom: 10px;
	background-color: white;
}
.exercisesColumn{
	margin-bottom: 16px;
}
.exercisesBox{
	background-color: #f5f5f0;
	padding: 0px;
	height: 185px;
}
.exercisesTitle{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #009688;
	color: white;
}
.view{
	cursor: pointer;
	width: 100%;
	background-color: #009688;
	color: white;
	height: 20%;
	text-align: center;
	padding-top: 2.5%;
}
.view:hover{
	background-color: #004d45;
	color: white;
}
#itensRaiz{
	display: none;
}

/* -- Resposividade --
	- Celular
	- PC
	- Tablet
*/
.saidaSalarios{
	display: inline-block;
	width: 18.5%;
}
@media screen and (max-width: 600px) {
    .exercisesColumn{
        width: 100%;
        margin-left: 0px; 
    }
    .controlSection{
    	width: 100%;
    }
    .controlSection:active{
		background-color: #004d45;
		color: white;
	}
}
@media screen and (min-width: 1026px) {
    .exercisesColumn{
        display: inline-block;
        width: 18.5%;
        margin-left: 10px;
    } 
    .controlSection{
    	display: inline-block;
    	width: 49%;    	
    }
    .controlSection:hover{
		background-color: #009688;
		color: white;
	}
	.controlSection:active{
		background-color: #004d45;
		color: white;
	}
	html{
		background-image: url("../images/wallpaper.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#exercises{
		border-radius: 5px;
	}

}
@media screen and (min-width: 601px){
	@media screen and (max-width: 1025px){
		.exercisesColumn{
	        display: inline-block;
	        width: 47%;
	        margin-left: 10px;
    	} 
    	.controlSection{
    		display: inline-block;
    		width: 49%;    	
    	}
    	.controlSection:active{
			background-color: #004d45;
			color: white;
		}
	}    
}
